.banner {
  background-image: url("Brazil_flag_1.jpg");
  background-size: 1200px 800px;
}
h1 {
  font-family: Georgia;
  text-align: center;
  color: white;
}
h2 {
  font-family: Georgia;
  text-align: center;
  color: white;
  font-style: italic;
}
